name: "{{WORKER_NAME}}"
slug: "{{WORKER_NAME}}"
inputTypes:
{{INPUT_TYPES}}
outputType: "{{OUTPUT_TYPE}}"
provider:
  name: "{{PROVIDER_NAME}}"
  model: "{{MODEL_NAME}}"
  apiKeyEnv: "{{API_KEY_ENV}}"
